.navigation {
  list-style: none;
  padding: 0;
}

.navigation-link {
  text-decoration: none;
  color: #939699;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;

  position: static;
  width: 95px;
  height: 40px;
  right: 105px;
  top: 15px;

  background: #4592ff;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.button-text {
  position: static;
  width: 27px;
  height: 20px;
  left: 48px;
  top: calc(50% - 20px / 2);

  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;

  display: flex;
  align-items: center;
  color: #ffffff;

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 10px 0px;
}

.button-icon {
  margin-right: 10px;
}
